
/* =========================
git add .
git commit -m "update"
git push origin main
  




 {
   type: "push-note-bold", 
   title: {
   bn: "কুইজম প্রতিফলন:",
   en: "Quism Reflection:",
   hi: "क्विज़्म प्रतिबिंब:",
   sa: "क्विज़्म प्रतिबिम्बम्:",
 },
 
 text: {
 bn: [
 "",
],
   
   
 en: [
 "",
],

 hi: [
 ""
],

 sa: [
 ""
 ],
 },
 },
 
 {
  type: "divider-gap-top",
 },
 {
  type: "divider-gap-bottom",
 },






 {
    type: "divider",
 },
  {
   type: "push-poetry",
   text: {
 bn: [
   "text",
   "",
    
   "",
 
   "",
 ],
 
 en: [
   "",
    
   "",
 
   "",
 ],

hi: [
   "",
    
   "",
 
   "",
 ],

   sa: [
   "",
    
   "",
 
   "",
   ],
   },
   }, 

  ========================== */




/* ===== ESSENCE ARTICLE ===== */

.page-intro {
  background: linear-gradient(
    90deg,
    #f6f2f2 0%,
    #ffffff 50%,
    #f6f2f2 100%
  );
  padding: 40px 20px 60px;
}

.essence-intro{
  max-width:900px;
  text-align:justify;
  margin:10 auto 30px;
}

.essence-intro-title{
  display:inline;
  font-size:16px;
  font-weight:600;
  color:#222;
  margin-bottom:15px;
}

.essence-intro-text{
  font-size:16px;
  color:#222;
   margin-bottom:30px;
}
 

 .essence-intro strong{
  display:inline;
  font-size:16px;
  font-weight:600;
  color:#272626;
}

.essence-intro p{
  margin-bottom:30px;
}

 .essence-intro-first{
  margin-bottom: 10px !important;
}

.essence-intro-text p{
  margin: 0 0 6px !important;
}

 .essence-intro-content{
  text-align:justify;
}

.essence-intro-content p{
  margin-bottom:30px;
  line-height:1.9;
}


.essence-lang-switcher {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.essence-lang-switcher button {
  padding: 6px 14px;
  border: 1px solid #999;
  border-radius: 20px;
  background: transparent;
  cursor: pointer;
}

.essence-lang-switcher .active {
  background: #333;
  color: #fff;
}

 /* ===== ESSENCE HOME ===== */

 /* Essence */
 

 .hero-essence + .page-article p {
  text-align: justify;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
   margin-bottom: 32px;
}

.page-article p,
.founder-content p,
.art-culture-content p,
.about-content p {
  text-align: left;
  line-height: 1.9;
  margin-bottom: 1.2rem;
}

.essence-hero {
  min-height: 20px;
}

.essence-content{
  max-width:1000px;
  min-height: 10px;
  margin:auto;
}

.part-tabs {
  margin: 30px 0 40px;
}

/* ===== ESSENCE LAYOUT ===== */

.mobile-menu,
.nav-overlay {
  z-index: 9999;
}

.essence-nav{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:16px;
  margin:30px 0;
    position: relative;
  z-index: 1;
}

.essence-nav a{
  color:#666;
  text-decoration:none;
  font-size:18px;
  transition:.3s;
}

.essence-nav a.active{
  color:#000;
  font-weight:700;
}

/* ===== ESSENCE TITLE ===== */

.sub-nav {
  flex-wrap: wrap;
  display: flex;
   row-gap:10px;
    column-gap:16px;
  justify-content: center;
  margin: 15px 0 20px;
  
}


.essence-title{
  text-align:center;
  margin-bottom:20px;
}

.essence-subtitle{
    max-width:900px;
  max-width: 900px;
  margin: 10px auto 30px;
  text-align: justify;
}

.essence-subtitle strong{
  font-weight:550;
}



/* ===== PUSH POETRY ===== */


.push-poetry .verse{
  display:block;
  font-size:16px;
  line-height:1.8;
  margin-bottom:5px;
   text-align: center;
  line-height: 1.5;
  margin-bottom: 8px;
}

.push-note {
  max-width: 900px;
  margin: 0 auto 2rem;
  text-align: center;
  line-height: 1.9;
}

.push-note p {
  margin-bottom: 1.2rem;
}

.push-note-bold {
  max-width: 900px;
  margin: 0 auto 2rem;
  text-align: center;
  line-height: 1.9;
 
}

.push-note-bold p {
 font-size: 16px;
  margin-bottom: 1.2rem;
   color: #8f4c09;
}
 
.push-stanza{
  max-width:900px;
  margin:20 auto 2rem;
  text-align:center;
  line-height:1.9;
  margin-bottom: 3rem;
  }

.push-stanza .verse:nth-child(4){
  margin-bottom: 1.8rem;
}

 
 
.push-poetry{
  max-width:900px;
  margin:20 auto 2rem;
  text-align:center;
  line-height:1.9;
   }

.push-poetry p{
  font-weight:700 !important;
}

/* empty line */
.push-poetry .poem-gap{
  height:2rem;
}

/* first two lines */
.push-poetry .verse:nth-child(1),
.push-poetry .verse:nth-child(2){
  font-weight:600;
}
 .poem-title{
  font-weight:700;
    letter-spacing: 0.2px;
}

.push-poetry .verse:nth-child(2){
  margin-bottom:1.5rem;
}

.push-poetry .verse:nth-child(6){
  margin-bottom:1.5rem;
}

.push-poetry,
.push-stanza{
  font-size:15px;
  line-height:1.9;
}

@media (min-width:768px){
  .push-poetry,
  .push-stanza{
    font-size:15px;
  }
}

@media (min-width:1200px){
  .push-poetry,
  .push-stanza{
    font-size:18px;
  }
}



.subheadline-title{
  text-align:center;
  margin:10px auto ;
}

.subheadline-title strong{
  font-size:16px;
  display: inline;
  font-weight:600;
  color:#222;
}

.subheadline-text{
  display: inline;
  font-size:17px;
  color:#222;
  margin-left:0px;
}

.subheadline-title strong,
.subheadline-text{
  display:inline;
}

.heading-row{
  max-width:100%;
    margin-top: 0px;
  margin-bottom: 30px;
  text-align:center;
  font-size:16px;
    color:#6e2222;
}

 

.heading-row strong{
  font-weight:550;
}

/* ===== PART TABS ===== */



.content-poetry {
  max-width: 800px;
  margin: 40px auto 40px;
  color: #d9d9d9;
   
  font-size: 17px;
  line-height:1.7;
  letter-spacing: .3px;
  text-align: center;
}

.content-poetry-section {
  padding: 10px;
}

.content-poetry .verse {
  display: block;
  margin-bottom: 2px;
}

.content-verse{
  font-style:normal;
  line-height:1;
   font-size: 18px;
  line-height: 1.8;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ddd;
   margin: 0;
  display:block;
  border:0px solid red;
}

.content-verse + .verse{
  margin-top: 0cqmax
}
.content-verse span {
  display: block;
  opacity: 0;
  transform: translateY(20px);
  animation: rise 1.4s ease forwards;
}

.content-verse span:nth-child(2) {
  animation-delay: 0.4s;
}

 

/* divider */

.divider-gap-top {
   position: relative;
   width: 100%;
  max-width: 1000px;
  height: 1px;
  margin:60px 0 20px;    
  background: linear-gradient(
    to right,
    transparent,
    rgba(93, 83, 83, 0.35),
    rgba(181, 168, 168, 0.55),
    rgba(93, 83, 83, 0.35),
   transparent
  );
}

.divider-gap-bottom {
   position: relative;
   width: 100%;
  max-width: 1000px;
  height: 1px;
  margin:0px auto 60px;    
  background: linear-gradient(
    to right,
    transparent,
    rgba(93, 83, 83, 0.35),
    rgba(181, 168, 168, 0.55),
    rgba(93, 83, 83, 0.35),
   transparent
  );
}
 
.divider {
   position: relative;
   width: 100%;
  max-width: 900px;
  height: 1px;
  margin:20px auto;    
  background: linear-gradient(
    to right,
    transparent,
    rgba(93, 83, 83, 0.35),
    rgba(181, 168, 168, 0.55),
    rgba(93, 83, 83, 0.35),
   transparent
  );
}

.margin-divider{
  width: 100%;
  max-width: 1300px;
  height: 1.8px;
  margin:50px 0 50px;    
  opacity: 0.5;
  background: linear-gradient(
    to right,
    transparent,
    rgba(17, 16, 16, 0.35),
    transparent
  );
}

.divider-white {
  width: 900px;
  height: 1px;
  background: rgba(255,255,255,0.2);
  margin: 50px auto;
}


.content-divider-white {
  width: 200px;
  height: 1px;
  background: rgba(255,255,255,0.2);
  margin: 40px auto;
}

.content-text strong{
  font-weight: 600;
  color: #222;
}

.seed-intro{
  max-width:900px;
  text-align:justify;
  margin:10 auto 0px;
}

.seed-intro-title{
  display:inline;
  font-size:16px;
  font-weight:600;
  color:#222;
  margin-bottom:15px;
}

.seed-intro-text{
  font-size:16px;
  color:#222;
   margin-bottom:30px;
}
 

 .seed-intro strong{
  display:inline;
  font-size:16px;
  font-weight:600;
  color:#272626;
}

.seed-stanza{
  max-width:900px;
  margin:20 auto 2rem;
  text-align:center;
  line-height:1.9;
  margin-bottom: 3rem;
  color: #8f4c09;
  margin-bottom: 1.2rem;
  font-size: 16px;
  font-weight:500;
  letter-spacing:1px;
  }